.About-Me {
    background-color: white;
    height: 120vh;
    font-size: calc(10px + 2vmin);
    color: black;
    padding-top: 1%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.galery {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.firstName {
    height: 40%;
    width: 100%;
    display: flex;
}

.secondDiv-1 {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../airbnb.png');
    background-position: center center;
    background-size: cover;
}

.secondDiv-2 {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../crime.jpg');
    background-position: center center;
    background-size: cover;
}
.secondDiv-3 {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../Pages/UIUX.jpg');
    background-position: center center;
    background-size: cover;
}
.secondDiv-4 {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../android.jpg');
    background-position: center center;
    background-size: cover;
}
.secondDiv-5 {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../netflix\ clone.jpg');
    background-position: center center;
    background-size: cover;
}

.secondDiv-6 {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../resume\ parser.jpg');
    background-position: center center;
    background-size: cover;
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    align-content: center;
    color: white;
    padding: 0.4%;
    animation: slide-in 1s forwards;
}

.header{
    font-size: 18px;
}

.line {
    font-size: 16px;
}



@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media ( max-width: 375px) {
    .firstName {
        height: 30%;
    }


    .header{
        font-size: 14px;
    }
    
    .line {
        font-size: 12px;
    }


}