.About-Me {
    background-color: white;
    height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
    padding-top: 1%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.galery {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.firstName {
    height: 28%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.secondDiv-1 {
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../Pages/airbnb.png');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

.secondDiv-2 {
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../Pages/crime.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.secondDiv-3 {
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../Pages/UIUX.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.secondDiv-4 {
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../Pages/crime.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.secondDiv-5 {
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url('../Pages/skills.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}


.secondDiv-1:hover,.secondDiv-2:hover,.secondDiv-3:hover,.secondDiv-4:hover,.secondDiv-5:hover {
    opacity: 0.5;
    width: 36%;
    height: 95%;
}