.Timelinecontent {
    height: 37%;
    width: 100%;
}

@media (max-width: 425px) {
    .Timelinecontent {
        height: 25%;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .Timelinecontent {
        height: 30%;
        width: 100%;
    }
}