.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./wall3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Highlight {
  background-color: rgba(255, 255, 255, 0.5);
  height: 22vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Highlight-divs {
  margin-top: 1.5%;
  height: 15vh;
  width: 20%;
  border-right: 1px solid white;
  text-align: center;
}

.Highlight-divs p {
  margin-top: -3%;
}
.NavBar {
  border-bottom: 1px solid white;
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.NavBar p {
  margin-left: 2%;
  margin-top: 1%;
  font-size: medium;
  color: white;
}
.About {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-top: 7%;
}

.Socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Socialmedia a {
  margin-left: 5%;
}

.Socialmedia a:hover {
  background-color: #e5e5e5;;
}

.App-link {
  color: #61dafb;
}
.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
